UNI3/COMP1688 Service Oriented Web Applications/SOA based Freecycle Web App in PHP/level1/A single item by ID/XML_Document_Item.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by University of Greenwich (University of Greenwich) -->
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT item (title, descr, post_date, image*, member)>
<!ATTLIST item
	itemID ID #REQUIRED
>
<!ELEMENT title (#PCDATA)>
<!ELEMENT descr (#PCDATA)>
<!ELEMENT post_date (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ATTLIST image
	imgID ID #REQUIRED
>
<!ELEMENT member (full_name, postcode, (contact_number?, email?))>
<!ATTLIST member
	memID ID #REQUIRED
>
<!ELEMENT full_name (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT contact_number (#PCDATA)>
<!ELEMENT email (#PCDATA)>
