UNI3/COMP1688 Service Oriented Web Applications/SOA based Freecycle Web App in PHP/level1/Searching items/XMLDocument_Items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="descr"/>
				<xs:element ref="post_date"/>
				<xs:element ref="postcode"/>
				<xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="itemID" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="descr" type="xs:string"/>
	<xs:element name="post_date" type="xs:string"/>
	<xs:element name="postcode" type="xs:string"/>
	<xs:element name="image">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="imgID" type="xs:ID" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
