UNI3/COMP1688 Service Oriented Web Applications/SOA based Freecycle Web App in PHP/level1/Searching items/XMLDocument_Items.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by University of Greenwich (University of Greenwich) -->
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT items (item*)>
<!ELEMENT item (title, descr, post_date, postcode, image*)>
<!ATTLIST item
	itemID ID #REQUIRED
>
<!ELEMENT title (#PCDATA)>
<!ELEMENT descr (#PCDATA)>
<!ELEMENT post_date (#PCDATA)>
<!ELEMENT postcode (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ATTLIST image
	imgID ID #REQUIRED
>

